{% extends 'base.html' %}
{% load static %}

{% block title %}Axon PC - Producto{% endblock %}

{% block content %}

<div class="producto">

    <div class="producto-detalles">

        <!--Izqueirda: imagen del preducto-->
        <div class="producto-img-container">
            <img src="{% static 'img/placa-madre-prod.jpg'%}" alt="Producto" class="producto-img">
        </div>

        <!--Derecha: datos de compra-->
        <div class="preducto-action-container">

            <h2 class="producto-title">Placa Madre</h2>
            <p class="preducto-categoria">Categoría: Placa Madre</p>

            <!--Sistema de rating-->
            <div class="producto-rating">
                Rating:
                <ul class="list-star">
                    <a href="#"><i class="fa-solid fa-star"></i></a>
                    <a href="#"><i class="fa-solid fa-star"></i></a>
                    <a href="#"><i class="fa-solid fa-star"></i></a>
                    <a href="#"><i class="fa-solid fa-star"></i></a>
                    <a href="#"><i class="fa-regular fa-star"></i></a>
                </ul>
                <span>4/5</span>
                <small class="text-muted">(12 reseñas)</small>
            </div>

            <div class="preducto-precio">Precio: $500.000 ARS</div>

            <!--Opcoiones de compra y carrito-->
            <div class="preducto-compra">
                <label for="cantidad">Cantidad</label>
                <input type="number" id="cantidad" name="cantidad" value="1" min="1" max="10">

                <div class="preducto-buttons">
                    <button class="card-prod-btn">Añadir al carrito <i class="fa-solid fa-cart-plus"></i></button>
                    <button class="card-prod-btn">Comprar ahora</button>
                </div>
            </div>
        </div>
    </div>

    <!--Descripicion del producto-->
    <div class="preducto-descripcion">
        <h3>Descripción del preducto:</h3>
        <p>Aquí va el texto descriptivo del componente. Más adelante, cuando usemos MySQL, este texto se cargará dinámicamente desde el campo "descripcion" de tu modelo de Django.</p>
    </div>

    <!--Bloque reseñas y comentarios-->
    <div class="peducto-reviews">
        <h3>Opiñones de usuarios</h3>

        <!--Formulario para dejar reseña-->
        <form action="#" class="review-form">
            <h4>Dejanos tu opiñon:</h4>
            <textarea name="#" id="#" placeholder="Qué te pareció este producto?..." rows="3" required></textarea>
            <button type="submit" class="btn-submit-review">Enviar Reseña</button>
        </form>

        <!--Liasta de comentarios-->
        <div class="review-list">
            <div class="review-card">
                <div class="review-header">
                    <strong>Gabriel Gonzalez</strong>
                    <span class="review-stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <small>5/5</small>
                    </span>
                </div>
                <p class="review-txt">Excelente procesador, levantó vuelo la PC y las temperaturas son bajísimas con un buen cooler.</p>
            </div>
        </div>
    </div>
</div>

{% endblock%}