{% extends 'base.html' %}
{% load static %}

{% block title %}Axon PC - Producto{% endblock %}

{% block content %}

<div class="producto">

    <div class="producto-detalles bg-body bg-text">

        <!--Izqueirda: imagen del preducto-->
        <div class="producto-img-container bg-body bg-text">
            {% if producto.imagen %}
                <img src="{{ producto.imagen.url }}" alt="{ producto.nombre }" class="producto-img">
            {% else %}
                <p>Este producto no tiene imagen disponible.</p>
            {% endif %}    
        </div>

        <!--Derecha: datos de compra-->
        <div class="producto-action-container">

            <h2 class="producto-title">{{ producto.nombre }}</h2>
            <p class="producto-categoria">Categoría: {{ producto.categoria.nombre}}</p>

            <!--Sistema de rating-->
            <div class="producto-rating">
                <span class="rating-label">Rating:</span>
                <span class="review-stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <small>5/5</small>
                    </span>
                <small class="text-muted">({{ review.count }} reseñas)</small>
            </div>

            <div class="producto-precio">Precio: <span>${{ producto.precio|floatformat:2 }} ARS</span></div>

            <!--Opcoiones de compra y carrito-->
            <div class="producto-compra">
                <div class="cantidad-container">
                    <label for="cantidad">Cantidad</label>
                    <input type="number" id="cantidad" name="cantidad" value="1" min="1" max="10">
                    <span>stock: {{ producto.stock }}</span>
                </div>

                <div class="producto-buttons">
                    <button class="btn-add-cart">Añadir al carrito <i class="fa-solid fa-cart-plus"></i></button>
                    <button class="btn-buy-now">Comprar ahora</button>
                </div>
            </div>
        </div>
    </div>

    <!--Tabla de especificaciones -->

    <div class="producto-especificaciones bg-body bg-text">
        <h2>Especificaciones técnicas</h2>
        <div class="title-line"></div>
        <table class="especificaciones-table">
            <tbody>
                {% for espec in especificaciones %}
                <tr>
                    <th>{{ espec.clave }}</th>
                    <td>{{ espec.valor }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="2" style="text-align: center; color: var(--color-text-2);">
                        No hay especifiocaciones tecnicas detalladas para este producto.
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!--Descripicion del producto-->
    <div class="producto-descripcion bg-body bg-text">
        <h2 class="bg-body bg-text">Descripción del producto</h2>
        <div class="title-line"></div>
        <p class="bg-body bg-text">{{ producto.descripcion }}</p>
    </div>

    <!--Bloque reseñas y comentarios-->
    <div class="producto-reviews bg-body bg-text">
        <h2 class="bg-body bg-text">Opiniones de usuarios</h2>
        <div class="title-line"></div>

        <!--Formulario para dejar reseña-->
        <form action="#" class="review-form bg-body bg-text">
            <h4>Dejanos tu opinión:</h4>
            <textarea name="comentario" id="comentario" placeholder="Qué te pareció este producto?..." rows="3" required></textarea>
            <button type="submit" class="btn-submit-review">Enviar Reseña</button>
        </form>

        <!--Liasta de comentarios-->
        <div class="review-list">
            <div class="review-card bg-body bg-text">
                <div class="review-header">
                    <strong style="color: var(--color-acento);">Gabriel Gonzalez</strong>
                    <span class="review-stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <small>5/5</small>
                    </span>
                    <!-- Acciones del comentario (Editar/Eliminar) -->
                    <div class="review-actions"> 
                        <input type="checkbox" class="menu-checkbox" id="menu-prueba">
                        <label class="menu-label" for="menu-prueba"><i class="fa-solid fa-gear"></i></label>
                        <div class="dropdown-menu">
                            <div class="dropdown-item">
                                <form action="#" method="get">
                                    {% csrf_token %}
                                    <button type="submit" class="edit-btn" aria-label="Editar comentario"><i class="fas fa-edit"></i> Editar</button>
                                </form>
                                <form action="#" method="get">
                                    {% csrf_token %} 
                                    <button type="submit" class="delete-btn" aria-label="Eliminar comentario"><i class="fas fa-trash"></i> Eliminar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="review-txt">Excelente procesador, levantó vuelo la PC y las temperaturas son bajísimas con un buen cooler.</p>
            </div>

            <div class="review-card bg-body bg-text">
                <div class="review-header">
                    <strong style="color: var(--color-acento);">Gabriel Gonzalez</strong>
                    <span class="review-stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <small>5/5</small>
                    </span>
                    <!-- Acciones del comentario (Editar/Eliminar) -->
                    <div class="review-actions"> 
                        <input type="checkbox" class="menu-checkbox" id="menu-prueba">
                        <label class="menu-label" for="menu-prueba"><i class="fa-solid fa-gear"></i></label>
                        <div class="dropdown-menu">
                            <div class="dropdown-item">
                                <form action="#" method="get">
                                    {% csrf_token %}
                                    <button type="submit" class="edit-btn" aria-label="Editar comentario"><i class="fas fa-edit"></i> Editar</button>
                                </form>
                                <form action="#" method="get">
                                    {% csrf_token %} 
                                    <button type="submit" class="delete-btn" aria-label="Eliminar comentario"><i class="fas fa-trash"></i> Eliminar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="review-txt">Excelente procesador, levantó vuelo la PC y las temperaturas son bajísimas con un buen cooler.</p>
            </div>
        </div>
    </div>
</div>

{% endblock%}