{% extends 'base.html' %}
{% load static %}

{% block title %}Axon PC - Tienda{% endblock %}

{% block content %}

<!-- SECCION CATEGORIA -->


    <div class="cat-title">
        <h2 class="bg-body bg-text">Categorias</h2>
        <div class="title-line"></div>
    </div>
    

<section class="categoria">

    <div class="grid-container-cat">
        
        <a href="">
            <div class="box-cat">
                <img class="icon-cat" src="{% static 'img/CPU.png'%}" alt="Procesador">
                <h3>procesador</h3>
            </div>
        </a>
        

        <a href="#">
            <div class="box-cat">
                <img class="icon-cat" src="{% static 'img/placa-madre.png'%}" alt="Placa Madre">
                <h3>placa madre</h3>
            </div>
        </a>

        <a href="">
            <div class="box-cat">
                <img class="icon-cat" src="{% static 'img/RAM.png'%}" alt="Memoria RAM">
                <h3>memoria ram</h3>
            </div>
        </a>
        
        <a href="">
            <div class="box-cat">
                <img class="icon-cat" src="{% static 'img/GPU.png'%}" alt="Tarjeta Gráfica">
                <h3>tarjeta grafica</h3>
            </div>
        </a>
        
        <a href="">
            <div class="box-cat">
                <img class="icon-cat" src="{% static 'img/SSD.png'%}" alt="Almecenamineto">
                <h3>almacenamiento</h3>
            </div>
        </a>
        
        <a href="">
            <div class="box-cat">
                <img class="icon-cat" src="{% static 'img/HDD.png'%}" alt="Discp Duro">
                <h3>Disco Duro</h3>
            </div>
        </a>
        
        <a href="">
            <div class="box-cat">
                <img class="icon-cat" src="{% static 'img/fuente.png'%}" alt="Fuente">
                <h3>fuente</h3>
            </div>
        </a>
        
        <a href="">
            <div class="box-cat">
                <img class="icon-cat" src="{% static 'img/cooler.png'%}" alt="Refrigeración">
                <h3>cooler</h3>
            </div>
        </a>

        <a href="">
            <div class="box-cat">
                <img class="icon-cat" src="{% static 'img/gabinete.png'%}" alt="Gabinete">
                <h3>gabinete</h3>
            </div>
        </a>

        <a href="">
            <div class="box-cat">
                <img class="icon-cat" src="{% static 'img/pantalla.png'%}" alt="Pantallas">
                <h3>pantallas</h3>
            </div>
        </a>
        
        <a href="">
            <div class="box-cat">
                <img class="icon-cat" src="{% static 'img/accesorios.png'%}" alt="Preféricos">
                <h3>accesorios</h3>
            </div>
        </a>

        <a href="">
            <div class="box-cat">
                <img src="" alt="Tienda">
                <h3>tienda</h3>
            </div>
        </a>
        

    </div>

</section>

<!-------- SECCION TIENDA --------->

        <div class="cat-title">
            <h1 class="main-title" style="text-align: center; font-size: 76px;">TIENDA</h1>
            <div class="title-line"></div>
        </div>

    <section class="comp-ven">


        <div class="grid-container-ven">
            {% for prod in productos%}
            <div class="card-prod">
                {% if prod.imagen %}
                    <img class="card-prod-img" src="{% static 'img/placa-madre-prod.jpg'%}" alt="imagen producto">
                {% else %}
                    <img class="card-prod-img" src="{% static 'img/default.jpg'%}" alt="sin imagen">
                {% endif %}

                <h3>{{ prod.nombre }}</h3>
                <div class="card-icon bg-body bg-text">
                    <i class="fa-regular fa-heart"></i>
                </div>
                <div class="rating">
                    <ul class="list-star">
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-regular fa-star"></i></a>
                    </ul>
                    <span>4/5</span>
                </div>
                <div class="card-prod-content">
                    <span>categoria: {{prod.categoria.nombre}}</span>
                    <br>
                    <span>precio: <b>${{ prod.precio|floatformat:2 }} ARS</b></span>
                    <div class="buttons">
                        <a class="card-prod-btn" href="#">añadir</a>
                        <a class="card-prod-btn" href="{% url 'producto' prod.id %}">ver</a>
                    </div>
                </div>
            </div>
            {% empty %}
                <p class="empty">
                    Próximamente habrá nuevo stock de hardware. ¡Estate atento!
                </p>
            {% endfor %}
            
        </div>
    </section>

{% endblock %}