{% extends 'base.html' %}
{% load static %}

{% block title %}Axon PC{% endblock %}

{% block content %}
<div class="hero">

    <div class="izq">
        <h1>Armá tu PC perfecta</h1>
        <p class="sub-headline">
            Nuestra guía inteligente de compatibilidad te ayuda a 
            elegir los componentes ideales para tu rendimiento, 
            presupuesto y necesidades.
        </p>

        <div class="buttons">
            <a href="#" class="btn-hero">Armá tu pc ahora</a>
            <a href="#" class="btn outlined">Ver builds destacados</a>
        </div>
    </div>

    <div class="der">
        <img class="img-hero" src="{% static 'img/hero-1.png'%}" alt="imagen hero componentes">
        <div class="bg-color"></div>
    </div>

</div>
{% endblock %}