{% extends 'base.html' %}
{% load static %}

{% block title %}Axon PC{% endblock %}

{% block content %}
<div class="hero">

    <div class="izq">
        <h1>Armá tu PC perfecta</h1>
        <p class="sub-headline">
            Nuestra guía inteligente de compatibilidad te ayuda a 
            elegir los componentes ideales para tu rendimiento, 
            presupuesto y necesidades.
        </p>

        <div class="buttons">
            <a href="#" class="btn-hero">Armá tu pc ahora</a>
            <a href="#" class="btn outlined">Ver builds destacados</a>
        </div>
    </div>

    <div class="der">
        <img class="img-hero" src="{% static 'img/hero-1.png'%}" alt="imagen hero componentes">
        <div class="bg-color"></div>
    </div>

</div>

<!-- SECCION CATEGORIA -->


    <div class="cat-title">
        <h2>Categorias</h2>
        <div class="title-line"></div>
    </div>
    

<section class="categoria">

    <div class="grid-container-cat">
        
        <a href="">
            <div class="box-cat">
                <img class="icon-cat" src="" alt="Procesador">
                <h3>procesador</h3>
            </div>
        </a>
        

        <a href="#">
            <div class="box-cat">
                <img class="icon-cat" src="{% static 'img/placa-madre.png'%}" alt="Placa Madre">
                <h3>placa madre</h3>
            </div>
        </a>

        <a href="">
            <div class="box-cat">
                <img class="icon-cat" src="{% static 'img/SSD.png'%}" alt="Memoria RAM">
                <h3>memoria ram</h3>
            </div>
        </a>
        
        <a href="">
            <div class="box-cat">
                <img class="icon-cat" src="{% static 'img/GPU.png'%}" alt="Tarjeta Gráfica">
                <h3>tarjeta grafica</h3>
            </div>
        </a>
        
        <a href="">
            <div class="box-cat">
                <img class="icon-cat" src="{% static 'img/HDD.png'%}" alt="Almecenamineto">
                <h3>almacenamiento</h3>
            </div>
        </a>
        
        <a href="">
            <div class="box-cat">
                <img src="" alt="Fuente">
                <h3>fuente</h3>
            </div>
        </a>
        
        <a href="">
            <div class="box-cat">
                <img src="" alt="Gabinete">
                <h3>gabinete</h3>
            </div>
        </a>
        
        <a href="">
            <div class="box-cat">
                <img src="" alt="Refrigeración">
                <h3>cooler</h3>
            </div>
        </a>
        
        <a href="">
            <div class="box-cat">
                <img src="" alt="Preféricos">
                <h3>accesorios</h3>
            </div>
        </a>
        

    </div>

</section>

<!-- SECCION COMPONENTES MAS COMPRADOS -->

    <div class="cat-title">
        <h2>Componentes más vendidos</h2>
        <div class="title-line"></div>
    </div>

    <seccion class="comp-ven">

        <div class="card-prod">
            <img class="card-prod-img" src="{% static 'img/placa-madre-prod.jpg'%}" alt="imagen producto">
            <h3>Placa Madre</h3>
            <div class="card-icon">
                <i class="fa-regular fa-heart"></i>
            </div>
            <div class="card-prod-content">
                <span>categoria: Placa Madre</span>
                <br>
                <span>precio: <b>500.000 ARS</b></span>
                <div class="buttons">
                    <a class="card-prod-btn" href="#">añadir</a>
                    <a class="card-prod-btn" href="#">ver</a>
                </div>
            </div>
        </div>

        <div class="card-prod">
            <img class="card-prod-img" src="{% static 'img/placa-madre-prod.jpg'%}" alt="imagen producto">
            <h3>Placa Madre</h3>
            <div class="card-icon">
                <i class="fa-regular fa-heart"></i>
            </div>
            <div class="card-prod-content">
                <span>categoria: Placa Madre</span>
                <br>
                <span>precio: <b>500.000 ARS</b></span>
                <div class="buttons">
                    <a class="card-prod-btn" href="#">añadir</a>
                    <a class="card-prod-btn" href="#">ver</a>
                </div>
            </div>
        </div>

        <div class="card-prod">
            <img class="card-prod-img" src="{% static 'img/placa-madre-prod.jpg'%}" alt="imagen producto">
            <h3>Placa Madre</h3>
            <div class="card-icon">
                <i class="fa-regular fa-heart"></i>
            </div>
            <div class="card-prod-content">
                <span>categoria: Placa Madre</span>
                <br>
                <span>precio: <b>500.000 ARS</b></span>
                <div class="buttons">
                    <a class="card-prod-btn" href="#">añadir</a>
                    <a class="card-prod-btn" href="#">ver</a>
                </div>
            </div>
        </div>
    </seccion>
{% endblock %}