{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="login-container bg-body bg-text">
    <div class="login-card">
        <h2 class="login-title">Registro</h2>
        <div class="title-line" style="margin-bottom: 2rem;"></div>

        <!--Mesnaje de error en contraseña-->
        {% if messeges %}
            {% for message in messages %}
                <div class="alert {{ message.tags }}"><i class="fa-solid fa-circle-exclamation"></i> {{ message }}</div>
            {% endfor %}
        {% endif %}

        <form action="{% url 'registro' %}" method="POST" class="login-form">
            {% csrf_token %}

                <!--NOMBRES-->
                <div class="login-input">
                    <label for="{{ form.first_name.id_for_label }}">Nombre/s</label>
                    <input type="text" name="first_name" id="{{ form.first_name.id_for_label }}" value="{{ form.first_name.value|default_if_none:'' }}">
                    {% if form.first_name.errors %}
                        <small class="text-error">{{ form.first_name.errors|striptags }}</small>
                    {% endif %}
                    <i class="fa-solid fa-signature"></i>
                </div>

                <!--APELLIDOS-->
                <div class="login-input">
                    <label for="{{ form.last_name.id_for_label }}">Apellido/s</label>
                    <input type="text" name="last_name" id="{{ form.last_name.id_for_label }}" value="{{ form.last_name.value|default_if_none:'' }}">
                    {% if form.last_name.errors %}
                        <small class="text-error">{{ form.last_name.errors|striptags }}</small>
                    {% endif %}
                    <i class="fa-solid fa-signature"></i>
                </div>

                <div class="login-input">
                    <label for="{{ form.username.id_for_label }}">Nombre de usuario</label>
                    <input type="text" name="username" id="{{ form.username.id_for_label }}" value="{{ form.username.value|default_if_none:'' }}" placeholder="puede llevar estos caracteres: @, -, _, # o numeros...">
                    {% if form.username.errors %}
                        <small class="text-error">{{ form.username.errors|striptags }}</small>
                    {% endif %}
                    <i class="fa-solid fa-user"></i>
                </div>

                <!--EMAIL-->

                <div class="login-input">
                    <label for="{{ form.email.id_for_label }}">Email</label>
                    <input type="email" name="email" id="{{ form.email.id_for_label }}"
                    value="{{ form.email.value|default_if_none:'' }}">
                    {% if form.email.errors %}
                        <small class="text-error">{{ form.email.errors|striptags }}</small>
                    {% endif %}
                    <i class="fa-solid fa-at"></i>
                </div>

                <!--CONTRASEÑAS-->
                <div class="login-input">
                    <label for="id_password1">Contraseña</label>
                    <input type="password" name="password1"
                    id="id_password1">
                    <!--<span class="input-text" style="cursor: pointer;" onclick="togglePassword('{{ from.password1.id_for_label }}')">
                        <i class="fa-solid fa-eye" id="icon-{{ form.password1.id_for_label }}"></i>
                    </span>-->
                    <i class="fa-solid fa-eye" style="cursor: pointer;" onclick="togglePassword('id_password1')" id="icon-id_password1"></i>
                    {% if form.password1.errors %}
                        <small class="text-error">{{ form.password1.errors|striptags }}</small>
                    {% endif %}
                </div>

                <div class="login-input">
                    <label for="id_password1">Confirmar Contraseña</label>
                    <input type="password" name="password2"
                    id="id_password2">
                    <!--<span class="input-text" style="cursor: pointer;" onclick="togglePassword('{{ from.password1.id_for_label }}')">
                        <i class="fa-solid fa-eye" id="icon-{{ form.password1.id_for_label }}"></i>
                    </span>-->
                    <i class="fa-solid fa-eye" style="cursor: pointer;" onclick="togglePassword('id_password2')" id="icon-id_password2"></i>
                    {% if form.password2.errors %}
                        <small class="text-error">{{ form.password2.errors|striptags }}</small>
                    {% endif %}
                </div>

                <!--TELEFONO-->
                <div class="login-input">
                    <label for="{{ form.telefono.id_for_label }}">Num. Teléfono</label>
                    <input type="text" name="telefono" id="{{ form.telefono.id_for_label }}" value="{{ form.telefono.value|default_if_none:'' }}">
                    {% if form.telefono.errors %}
                        <small class="text-error">{{ form.telefono.errors|striptags }}</small>
                    {% endif %}
                    <i class="fa-solid fa-phone"></i>
                </div>

                <!--POSTAL-->
                <div class="login-input">
                    <label for="{{ form.postal.id_for_label }}">Código Postal</label>
                    <input type="text" name="postal" id="{{ form.postal.id_for_label }}" value="{{ form.postal.value|default_if_none:'' }}">
                    {% if form.postal.errors %}
                        <small class="text-error">{{ form.postal.errors|striptags }}</small>
                    {% endif %}
                    <i class="fa-solid fa-truck"></i>
                </div>

                <!--LOCALIDAD-->
                <!--<div class="login-input">
                    <label for="{{ field.id_for_label }}">Localidad</label>
                    <input type="text">
                    {% if field.errors %}
                        <small class="text-error">{{ field.errors|striptags }}</small>
                    {% endif %}
                    <i class="fa-solid fa-location-dot"></i>
                </div>-->

                <!--DOMICILIO-->
                <div class="login-input">
                    <label for="{{ form.direccion.id_for_label }}">Dir. Domicilio</label>
                    <input type="text" name="direccion" id="{{ form.direccion.id_for_label }}">
                    {% if form.direccion.errors %}
                        <small class="text-error">{{ form.direccion.errors|striptags }}</small>
                    {% endif %}
                    <i class="fa-solid fa-street-view"></i>
                </div>

            <button type="submit" class="btn-login">Registrarme en Axon PC</button>
        </form>

        <div class="login-footer">
            <p>¿Ya tenés tu ceunta? <a href="{% url 'login' %}">Iniciá sesión acá</a></p>
        </div>
    </div>
</div>
{% endblock %}